div
    ul.list-group
        each upload in uploads
            li.list-group-item.d-flex.justify-content-between.align-items-center
                = upload.fileName
                span.badge.badge-primary.badge-pill= upload.comment
                a(href=`/download/${upload.fileId}`) Download