doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' type='text/css' href='style.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    title File Uploader
include navBar.pug
.container
    if shouldShowHistory
        include history.pug
    form#form(action='/upload' method='post' enctype='multipart/form-data')
        | Comment: 
        input(type='text' name='comment' class="form-control")
        br
        .input-group.mb-3
            input(type='file' name='attachment')
        br  
        input(type='submit' value='Upload' class="btn btn-success")
    #myProgress
        #myBar
            span#barLabel 0%
script(type='module' src='../fileUploaderClient.js')