nav.navbar.navbar-expand-md.navbar-dark.bg-primary
    h4.navbar-brand File uploader
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.navigation-item
                a.nav-link(href='/sign-in') Sign In
            li.nav-item.navigation-item
                a.nav-link(href='/') Upload file
            li.nav-item.navigation-item
                a.nav-link(href='/history') History
        span.navbar-text
            | Imagine future with cutting-edge technologies
