doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    link(rel='stylesheet' href='../style.css' type='text/css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    title Postman
.container
    .row
        if historyList
            include history.pug
        .col
            // Request
            form#requestForm(action='/fetch' method='POST' enctype='multipart/form-data')
                div
                    // method, url
                    h5 Request details
                    .form-group
                        // method
                        label(for='method') Method: 
                        select#method(class='form-control' name='method' required='')
                            option(value='GET') GET
                            option(value='POST') POST
                        // url
                        label(for='urlField') URL: 
                        input#urlField(class='form-control' type='text' name='url' required='' value="https://reqbin.com/echo/post/json")
                    // params
                    h5 Query parameters
                    .form-group
                        // headings
                        div
                            span Key
                            span  Value
                        // key-value
                        #paramGroup
                            div
                                input#paramKey1(type='text' name='paramKey1')
                                input#paramValue1(type='text' name='paramValue1')
                        button#addParam(type='button' class="btn btn-success") Add
                    // headers
                    h5 Query parameters
                    .form-group
                        // headings
                        div
                            span Header
                            span  Value
                        // key-value
                        #headerGroup
                            div
                                input#headerKey1(type='text' name='headerKey1')
                                input#headerValue1(type='text' name='headerValue1')
                        button#addHeader(type='button' class="btn btn-success") Add
                    // content-type
                    h5 Content-type
                    .form-group
                        select(class='form-control' name='content-type')
                            option(value='application/json') application/json
                            option(value='application/xml') application/xml
                            option(value='text/html') text/html
                    // body
                    h5 Request body
                    .form-group
                        textarea#body(class='form-control' name='body' cols='60' rows='20')
                button(form='requestForm' type='submit' class="btn btn-primary mb-2") Make a request
        .col
            if response
                include response.pug
script(src='../index.js')
