doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' type='text/css' href='index.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    title SQL Explorer
.container
    if error
        include error.pug
    form#form(action='/explorer/execute_query' method='post' enctype='multipart/form-data')
        if databases
            include databases_list.pug
        | Your SQL: 
        .input-group
            .input-group-prepend
                span.input-group-text SQL query
            textarea.form-control(aria-label='With textarea' name="queryText" rows="8" cols="50")
        br
        input(type='submit' value='Execute' class="btn btn-success")
    if results
        include response.pug
script(type='module' src='./index.js')