div
    .input-group
        .input-group-prepend
            span.input-group-text Result:
        if !results.headers
            textarea.form-control(aria-label='With textarea' rows="10" cols="50")= results
        else
            table.table
                thead
                    tr
                    each header in results.headers
                        th(scope='col')= header
                tbody
                    each row in results.resultRows
                        tr
                            each col in row
                                td(scope='col')= col